.product-block-right { height: 250px; background-color: #e9e9e9; width: 100%; position: relative;}
.product-price-right {position: absolute; top: 5%; color: #f89406; width: 90%; text-align: center; left: 5%; right: 5%; height: 20%;}
.product-want-button { position: absolute; top: 35%; width: 90%; text-align: center; left: 5%; right: 5%}
.want-button { width: 100%; }
.product-owner-info{position: absolute; top: 65%; width: 90%; text-align: center; left: 5%; right: 5%}
.product-description {width: 80%;}
#brand {font-weight: bold; font-size: large;}
.views {text-align: right; margin-right: 10%}
.user-registration-info {text-align: left; margin-left: 10%}